.vscode/
algo
algo_test
in.txt
word_list.txt
word_list_big.txt
algo_bruteforce_algos.hpp
ab_out.txt
*__pycache__*
/bruteforcers/ab_v2/build/*
out*.txt
*.so
*.dll
/bruteforcers/key_bruteforce/kbf
/bruteforcers/key_bruteforce/kbf2
/bruteforcers/key_bruteforce/key_bruteforce
/bruteforcers/key_bruteforce/key_bruteforcer
/cpp/playground
/gui/saved/scripts/*